header{
    position: fixed;
    padding: 0 20px;
    padding-top: 20px;
    width: 100%;
}
.header__logo__wrapper h2{
    color: white;
}
.header__svg{
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.header__video{
    color: white;
    font-size:40px;
    cursor: pointer;
}
.header__bell{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.header__person{
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
#header__serch{
    width: 400px;
    height: 45px;
    padding-left: 30px;
  border-radius: 20px;
    background-color: #0F0F0F;
    border: 1px solid #303030;
    /* border: none; */
    color: white;
    
}
.header__serch{
    display: flex;
    align-items: center;    
    gap: 10px;
    /* border: 1px solid #303030;
    border-top-left-radius:; */
}
.header__serch label{
    padding: 12px 15px;
}
.header__serch label:hover{
    background-color: #303030;
    border-radius: 50%;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__logo__wrapper{
    display: flex;
    align-items: center;
    
}
.youtube__logo{
    font-size: 30px;
    cursor: pointer;
}
.header__logo__wrapper h2{
    cursor: pointer;
}
.header__profil{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.header__modal__video{
    position: absolute;
    top: 50px;
    right: 100px;
    width: 250px;
    height: 120px;
    border-radius: 20px;
    background-color: #282828;
    padding: 20px;
    text-align: center;
    visibility: hidden;
    transform: translateY(-10px);
}
.header__modal__video.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.header__modal__video h2{
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.header__modal__ball{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 350px;
    border-radius: 20px;
    background-color: #282828;
    padding: 20px;
    text-align: center;
    visibility: hidden;
    transform: translateY(-10px);
}
.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.header__modal__person{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 250px;
    height: 120px;
    border-radius: 20px;
    background-color: #282828;
    padding: 20px;
    text-align: center;
    visibility: hidden;
    transform: translateY(-10px);
}
.header__modal__person h2{
    color: white;
}
.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.Person__modal__header img{
    width: 40px;
    border-radius: 50%;
}
.Person__modal__header h3{
    color: white;

}
.Person__modal__header__wrapper{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 5px;
}
.Person__modal__header a{
    margin-top: 5px;
    display: block;
    text-decoration: none;
    color: #3A8FD7;
}
.SaidBar{
    width: 50px;
    margin-top: 20px;
}
.open__menu{
    width: 250px;
}
.SaidBard__grid svg{
    color: white;
    font-size: 30px;
}
.SaidBard__grid__h2{
    color: white;
    font-size: 15px;
}
.SaidBard__grid{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.saidbar__you2{
    display: none;
}
.Open__menu{
    font-size: 20px;

}
.SaidBard__grid{
    cursor: pointer;
    padding:10px 40px;
    /* padding: 10px;; */
    border-radius: 20px;
    margin-bottom: 20px;
}
.SaidBard__grid:hover{
    background-color: #303030;
}
.saidbar__flex{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 0px;
}
.saidbar__flex2{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 0px;
    display: none;
}
.saideBar__lin{
    width: 250px;
    height: 1px;
    background-color: white;
    display: none;
    margin-top: 20px;
    margin-bottom: 10px;
}
.saidbar__lin__open{
    display: block;  
}
.saidbar__you{
    display: none;
}
.saidbar__you__open{
    display: block;
}
.saidbar__you h2{
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    border-radius: 20px;
}
.saidbar__you h2:hover{
    background-color: #303030;
}
.saidbar__open__menu2 svg{
    color: white;
    font-size: 25px;
}
.saidbar__open__menu2:hover{
    background-color: #303030;
}
.saidbar__open__menu2{
    cursor: pointer;
    border-radius: 20px;
}
.saidbar__open__menu2 h3{
    color: white;
}

.saidbar__you2 h2{
    color: white;
    font-size: 25px;
}
.saidbar__middle__text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}